<!doctype html>
<!--[if lt IE 7]> <html class="no-js ie6 oldie" lang="en"> <![endif]-->
<!--[if IE 7]>    <html class="no-js ie7 oldie" lang="en"> <![endif]-->
<!--[if IE 8]>    <html class="no-js ie8 oldie" lang="en"> <![endif]-->
<!--[if gt IE 8]><!-->
<html class="no-js" lang="en">
<!--<![endif]-->
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>@ViewBag.Title | Fabrikam Widgets</title>
    <link rel="stylesheet" href="@Url.Content("~/Styles/Normalize.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Styles/Site.css")" />
    <link rel="stylesheet" href="@Url.Content("~/Styles/JQuery.Tools.css")" />
    <script src="@Url.Content("~/Scripts/modernizr-2.0.6-development-only.js")"></script>
    <script src="@Url.Content("~/Scripts/yepnope-1.0.2.js")"></script>
</head>
<body>
    <header class="row" role="banner">
        <nav role="navigation">
            <ul>
                <li>@Html.ActionLink("Home", "Index", "Home", null, new { @class = (String.Equals(ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), "Home", StringComparison.OrdinalIgnoreCase) ? "selected" : string.Empty) })</li>
                <li><a href="#">Orders</a></li>
                <li>@Html.ActionLink("Customers", "Index", "Customers", null, new { @class = (String.Equals(ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), "Customers", System.StringComparison.OrdinalIgnoreCase) ? "selected" : "") })</li>
                <li>@Html.ActionLink("Catalog", "Index", "Catalog", null, new { @class = (String.Equals(ViewContext.Controller.ValueProvider.GetValue("controller").RawValue.ToString(), "Catalog", System.StringComparison.OrdinalIgnoreCase) ? "selected" : "") })</li>
            </ul>
        </nav>
        <div id="UserTools">
            <ul>
                <li><a href="#">Chuck Norris</a></li>
                <li><a href="#">Settings</a></li>
                <li>
                    <form id="Search">
                    <input type="search" placeholder="Search" /></form>
                </li>
            </ul>
        </div>
    </header>
    @RenderBody()
    <footer class="row" role="contentinfo">
        <ul>
            <li>Fabrikam Widgets</li>
            <li><a href="#">About</a></li>
            <li><a href="#">Creative Commons Attribution 2.5 Canada License</a></li>
        </ul>
    </footer>
    @* Content Delivery Network Scripts Scripts *@
    <script src="@("//ajax.aspnetcdn.com/ajax/jQuery/jquery-1.6.4" + (HttpContext.Current.IsDebuggingEnabled ? ".js" : ".min.js"))"></script>
    <script>        window.jQuery || document.write('<script src="@Url.Content("~/Scripts/jquery-1.6.4" + (HttpContext.Current.IsDebuggingEnabled ? ".js" : ".min.js"))"><\/script>')</script>
    @*
    CSS Selector Polyfill Approach #1

    <!--[if lt IE 9]><script src="http://ie7-js.googlecode.com/svn/version/2.1(beta4)/IE9.js"></script><![endif]-->

    CSS Selector Polyfill Approach #2

    <script>
        $(function () {
            if ($('footer li:last-child').css('position') != 'absolute')
            {
                $('footer li:last-child').css('position', 'absolute');
                $('footer li:last-child').css('right', 0);
            }
        });
    </script>
     *@
    @* Local Page Scripts *@
    @RenderSection("PageScripts", false)
    @* Analytics *@
    <script>
        window._gaq = [['_setAccount', 'UAXXXXXXXX1'], ['_trackPageview'], ['_trackPageLoadTime']];
        yepnope({ load: ('https:' == location.protocol ? '//ssl' : '//www') + '.google-analytics.com/ga.js' });
    </script>
    @* Prompt IE 6 users to install Chrome Frame. Remove this if you want to support IE 6. *@
    <!--[if lt IE 7 ]>
    <script src="@("//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.3/CFInstall" + (HttpContext.Current.IsDebuggingEnabled ? ".js" : ".min.js"))"></script>
    <script>window.attachEvent('onload',function(){CFInstall.check({mode:'overlay'})})</script>
    <![endif]-->
</body>
</html>
